body {
    background-color: blue;
}


.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1em 0em;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.board {
    height: 600px;
    width: 600px;
    background-color:white;
    display: flex;
    flex-direction: column;
    
}

.board .row {
    flex-grow: 1;
    width: 100%;
    background-color: pink;
    display: flex;
}

.board .row .square {
    background-color: black;
    flex-grow: 1;
    flex-basis: auto;
}
